{% extends 'base.html' %}
{% block title %}Manage Reports{% endblock %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/supervisor/manage_reports.css' %}">
{% endblock %}

{% block content %}
{% include 'navbar.html' %}
<div class="reports-container">
    <h1>Manage Reports</h1>
    <ul class="report-links">
        <li><a href="/supervisor/reports/hospital/">Hospital Reports</a></li>
        <li><a href="/supervisor/reports/state/">State Reports</a></li>
    </ul>
</div>
{% endblock %}
