/* Sidebar Styling */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background:linear-gradient(to bottom, #269393, #4e9f97);
    /*background-color: #269393;*/
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    color: #ecf0f1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo{
    text-align: left;
    font-size: 27px;
}

.sudan-word{
    color: #ecf0f1;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar nav ul li {
    margin: 15px 0;
}

.sidebar nav ul li a {
    color: #ecf0f1;
    text-decoration: none;
    font-size: 17px;
    padding: 10px 15px;
    border-radius: 4px;
    display: block;
    transition: background-color 0.3s ease;
}

.sidebar nav ul li a:hover {
    background-color: #40a0a0;
}

/* Main Content Styling */
.main-content {
    margin-left: 250px;
    padding: 20px;
    background-color: #ecf0f1;
    min-height: 100vh;
}

/* Responsive Design */
@media (max-width: 768px) {
    .sidebar {
        width: 200px;
    }

    .sidebar nav ul li a {
        font-size: 14px;
    }

    .main-content {
        margin-left: 200px;
    }
}

@media (max-width: 500px) {
    .sidebar {
        position: absolute;
        width: 100%;
        height: auto;
    }

    .main-content {
        margin-left: 0;
        padding: 10px;
    }
}
