/* General Container Styling */
.container {
    margin: 20px auto;
    margin-left: 470px;
    max-width: 800px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

h1{
    text-align: center;
    padding-bottom: 15px;
}
/* Form Section */
.form-container {
    margin-bottom: 30px;
    padding: 20px;
    background-color: #f2f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
    color: #008080;
}

.form-container label {
    font-weight: bold;
    margin-bottom: 5px;
    display: inline-block;
    color: #008080;
}

.form-container input[type="text"],
.form-container input[type="number"],
.form-container textarea {
    width: 97%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #bdc3c7;
    border-radius: 4px;
    font-size: 14px;
}

.form-container select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #bdc3c7;
    border-radius: 4px;
    font-size: 14px;
}

.form-container button {
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.list-container h2 {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
    color: #008080;
}

.list-container input[type="text"] {
    padding: 10px;
    border: 1px solid #bdc3c7;
    border-radius: 4px;
    font-size: 14px;
    margin-right: 10px;
    width: calc(100% - 110px);
    display: inline-block;
}




/* tablllllll*/
#case-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #ffffff;
}

#case-table th, #case-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

#case-table th {
    background-color: #40a0a0;
    color: #ffffff;
    font-weight: bold;
}

#case-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

#case-table tr:hover {
    background-color: #f1f1f1;
}

.edit-button, .delete-button {
    padding: 10px;
    margin-bottom: 10px;
    font-size: 12px;
    width: 56px;
    border: 7px;
    border-radius: 4px;
    cursor: pointer;
    color: #ffffff;
}
